$primary-color: black;
$secondary-color: rgb(104, 102, 102);
$selected-color: rgb(49, 48, 48);

// General Styles
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    background-color: $primary-color;
}

* {
    margin: 0;
}

// Top Navigation Styles
.topnav {
    display: flex;
    background-color: gray;
    width: 100%;
    height: 48px; 
    margin: 0;
    padding: 0;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: #ddd;
            color: black;
        }

        &.active {
            background-color: $selected-color;
            color: white;
        }
    }
}

// Logo Styles
#logo {
    background-color: $secondary-color;
    width: 100%;
    height: 48px;
    display: flex;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    #icon {
        height: 100%;
        border-radius: 100px;
    }
}

// Index Page Styles
#indexPage {
    display: flex;
    align-items: end;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#homePageImg {
    height: 91vh;
}

#exploreButton {
    background-color: $secondary-color;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 100px;
}

.topnav-inner {
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.main-container-wrapper{
    display: grid;
    grid-template-columns: auto auto;

}

// Menu Section Styles
.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .menu-item {
        width: 30%; // Adjust the width as needed
        margin: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 70%; // Adjust the width of the image
            border-radius: 100px; // Add border-radius or other styles if needed
        }

        .text-container {
            padding-left: 10px; // Add padding to separate text from the image
            p {
                color: $secondary-color; // Choose a suitable color for the text
            }
        }
    }
}

// Orders Container Styles
.orders-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;

    .order-item {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;

        p {
            margin: 0;
        }
    }
}

#text-container{
    
    color: white;
}

.menu-item{
    background-color:$secondary-color;
    color:white;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; // You can adjust the height as needed
}

.order-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: $secondary-color;
  border-radius: 5px;
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; // You can adjust the height as needed
  }
  
  .checkout-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: $secondary-color;
    border-radius: 5px;

  }

.about-container {
    display: grid;
    grid-template-columns: auto auto;
    color:white;
    
}